*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.parent{
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.calc{
    width: 500px;
    height: 600px;
    display: grid;
    grid-template-columns:repeat(4,1fr) ;
    grid-template-rows: repeat(6,1fr);
}

input{
    grid-area: 1 / 1 / 2 / -1;

    font-size: 50px;
    text-align: end;
    
}